body {
    background-color:#fafffb;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

footer {
    margin-top: auto;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 5px gray;
    letter-spacing: 7px;
    text-decoration: dotted;
}

/* Creates the header image for each page */
.headerimageAl {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgcqBQBnarTV7-Xs6PGjScpj-Qc3X59GAkzA&usqp=CAU);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: screen;
}

/* Fixes the footer text to centre alignment. */
#footertxt {
    text-align: center;
}

.form-fields {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.carousel { 
    width:70%;
    height:auto; 
    margin: auto;
    height: auto;

}

.inputfield {

    padding: 2px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #555;
    border-radius: 4px;
}

*/

.inputfield:focus {
    border: 3px solid #66ff66;
  }

/* Create three equal columns that floats next to each other 
   Sourced from w3schools.com */
.column {
    float: left;
    width: 33.33%;
    padding: 30px;
  }

.columnC {
    float: center;
    width: 33.3%;
    padding: 30px;
  }

.columnimage {
    display: block;
    margin: auto;
    height: auto;
    max-width: 470px \9;
    max-height: 290px;
    overflow: auto;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}